.headerdiv{
    height: 5rem;
    width: 100vw;
    background-color:#f9f9f9;
    display: inline-flex;
    position: fixed;
    z-index: 2;
}
.leftheader{
    width: 30% ;
    display: flex;
}
.leftitems{
    display: flex;
    margin: 20px;
}
.search_div{
    height: 45px;
    background-color: rgb(221, 219, 219);
    float: right;
    border-radius: 5px;
    display: flex;
}
.searchinput{
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: none;
    float: right;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(221, 219, 219);
}
.iconsearch{
    width: 20px;
    height: 20px;
    margin: 12px;
}
.loginbtn{
    margin: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
}
.shoppingbtn{
    margin: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-right: 2px solid rgb(233, 229, 229);
}
.centerheader{
   width: 40%;
   text-align: center;
   padding-top: 12px;
} 
.rightheader{
    width: 30%;
}
.menubtn{
    background-color:#f9f9f9;
    width: 40px;
    height: 40px;
    float: right;
    margin: 15px;
    border: none;
}