.navbar{
    background-color: aquamarine;
}
.headerDiv{
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: blueviolet;
    z-index: 2;
}
.logoText{
    text-align: center;
}
